In [1]:
import seaborn as sns
import pandas as pd

In [5]:
tips = sns.load_dataset('tips').rename(columns={'sex':'gender'})
tips

     total_bill   tip  gender smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [ ]:
# day별로 tips의 평균
tips.groupby("day",observed=True)['tip'].mean()

#select day, avg(tip) as avg_tips from tips group by day

day
Thur    2.771452
Fri     2.734737
Sat     2.993103
Sun     3.255132
Name: tip, dtype: float64

In [13]:
tips.groupby(['day','gender'],observed=True)['tip'].mean()

day   gender
Thur  Male      2.980333
      Female    2.575625
Fri   Male      2.693000
      Female    2.781111
Sat   Male      3.083898
      Female    2.801786
Sun   Male      3.220345
      Female    3.367222
Name: tip, dtype: float64

In [14]:
tips.groupby('day',observed=True)['total_bill'].agg(['sum','mean',"max"])

          sum       mean    max
day
Thur  1096.33  17.682742  43.11
Fri    325.88  17.151579  40.17
Sat   1778.40  20.441379  50.81
Sun   1627.16  21.410000  48.17

In [16]:
tips.groupby('day')['tip'].agg(lambda x:x.mean())

C:\Users\Playdata2\AppData\Local\Temp\ipykernel_20492\4131696135.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  tips.groupby('day')['tip'].agg(lambda x:x.mean())

day
Thur    2.771452
Fri     2.734737
Sat     2.993103
Sun     3.255132
Name: tip, dtype: float64