ì´íƒˆ ê³ ê° ì˜ˆì¸¡

##### ë°ì´í„°ì „ì²˜ë¦¬(ê²°ì¸¡ì¹˜ì²˜ë¦¬, í´ë˜ìŠ¤ ë¶ˆê· í˜• í™•ì¸ ë° ì²˜ë¦¬)
##### íŠ¹ì„±ê³µí•™ - í”¼ì²˜ ì„ ì • ë˜ëŠ” í”¼ì²˜ìƒì„±
##### ë² ì´ìŠ¤ ëª¨ë¸ì„ ì •
    - ë¶„ë¥˜ëª¨ë¸ : LogisticRegression
    - í´ë˜ìŠ¤ ë¦¬í¬íŠ¸, ê³¼ì í•©ì—¬ë¶€
##### ë² ì´ìŠ¤ ëª¨ë¸ì˜ ì„±ëŠ¥ì„ ìƒíšŒ í•˜ëŠ” ëª¨ë¸ê³¼ í•˜ì´í¼ íŒŒë¼ë©”í„° ì¡°í•©ì„ ì°¾ì•„ì„œ ì„±ëŠ¥ì„ ì¶œë ¥

In [2]:
import pandas as pd
url  = 'https://raw.githubusercontent.com/pia222sk20/python/refs/heads/main/data/tellecom.csv'
df = pd.read_csv(url)
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

| ì»¬ëŸ¼ëª…                  | ì„¤ëª…                                                                         |
| :------------------- | :------------------------------------------------------------------------- |
| **customerID**       | ê³ ê° ê³ ìœ  ID (ì‹ë³„ìš©, ëª¨ë¸ì—ì„œëŠ” ì œì™¸)                                                   |
| **gender**           | ì„±ë³„ (â€˜Maleâ€™, â€˜Femaleâ€™)                                                      |
| **SeniorCitizen**    | ë…¸ë…„ì¸µ ì—¬ë¶€ (0=ì•„ë‹˜, 1=ë…¸ë…„ì¸µ)                                                       |
| **Partner**          | ë°°ìš°ì ìœ ë¬´ (â€˜Yesâ€™, â€˜Noâ€™)                                                       |
| **Dependents**       | ë¶€ì–‘ê°€ì¡± ì—¬ë¶€ (â€˜Yesâ€™, â€˜Noâ€™)                                                      |
| **tenure**           | ê°€ì… ê¸°ê°„ (ê°œì›” ë‹¨ìœ„)                                                              |
| **PhoneService**     | ì „í™” ì„œë¹„ìŠ¤ ì‚¬ìš© ì—¬ë¶€ (â€˜Yesâ€™, â€˜Noâ€™)                                                 |
| **MultipleLines**    | ë‹¤ì¤‘ íšŒì„  ì—¬ë¶€ (â€˜Yesâ€™, â€˜Noâ€™, â€˜No phone serviceâ€™)                                 |
| **InternetService**  | ì¸í„°ë„· ì„œë¹„ìŠ¤ ì¢…ë¥˜ (â€˜DSLâ€™, â€˜Fiber opticâ€™, â€˜Noâ€™)                                    |
| **OnlineSecurity**   | ì˜¨ë¼ì¸ ë³´ì•ˆ ì„œë¹„ìŠ¤ (â€˜Yesâ€™, â€˜Noâ€™, â€˜No internet serviceâ€™)                            |
| **OnlineBackup**     | ì˜¨ë¼ì¸ ë°±ì—… ì„œë¹„ìŠ¤ (â€˜Yesâ€™, â€˜Noâ€™, â€˜No internet serviceâ€™)                            |
| **DeviceProtection** | ê¸°ê¸° ë³´í˜¸ ì„œë¹„ìŠ¤ (â€˜Yesâ€™, â€˜Noâ€™, â€˜No internet serviceâ€™)                             |
| **TechSupport**      | ê¸°ìˆ  ì§€ì› ì„œë¹„ìŠ¤ (â€˜Yesâ€™, â€˜Noâ€™, â€˜No internet serviceâ€™)                             |
| **StreamingTV**      | TV ìŠ¤íŠ¸ë¦¬ë° ì„œë¹„ìŠ¤ ì‚¬ìš© (â€˜Yesâ€™, â€˜Noâ€™, â€˜No internet serviceâ€™)                        |
| **StreamingMovies**  | ì˜í™” ìŠ¤íŠ¸ë¦¬ë° ì„œë¹„ìŠ¤ (â€˜Yesâ€™, â€˜Noâ€™, â€˜No internet serviceâ€™)                           |
| **Contract**         | ê³„ì•½ í˜•íƒœ (â€˜Month-to-monthâ€™, â€˜One yearâ€™, â€˜Two yearâ€™)                           |
| **PaperlessBilling** | ì „ì ì²­êµ¬ì„œ ì—¬ë¶€ (â€˜Yesâ€™, â€˜Noâ€™)                                                    |
| **PaymentMethod**    | ë‚©ë¶€ ë°©ì‹ (â€˜Electronic checkâ€™, â€˜Mailed checkâ€™, â€˜Bank transferâ€™, â€˜Credit cardâ€™) |
| **MonthlyCharges**   | ì›” ìš”ê¸ˆ                                                                       |
| **TotalCharges**     | ì´ ìš”ê¸ˆ (ê°€ì… ê¸°ê°„ * ì›” ìš”ê¸ˆì— ë¹„ë¡€)                                                    |
| **Churn**            | ğŸ’¡ **íƒ€ê¹ƒ ì»¬ëŸ¼ (ì´íƒˆ ì—¬ë¶€)** â€” â€˜Yesâ€™ë©´ ì´íƒˆ, â€˜Noâ€™ë©´ ìœ ì§€                                 |

In [3]:
df.columns
# columnëª… í™•ì¸

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [4]:
#ê²°ì¸¡ì¹˜í™•ì¸
df.isnull().sum() #ì „ì²´ìš”ì•½
#ê²°ì¸¡ì¹˜ëŠ” ì—†ìŒ

#í´ë˜ìŠ¤ ë¶ˆê· í˜•
df['Churn'].value_counts(normalize=True)
#ì´íƒˆì•ˆí•œ ê³ ê° 73% ì´íƒˆí•œ ê³ ê° 27% ë¶ˆê· í˜• ë°ì´í„°ì„

Churn
No     0.73463
Yes    0.26537
Name: proportion, dtype: float64

In [5]:
%pip install imbalanced-learn

Requirement already satisfied: imbalanced-learn in c:\users\playdata2\miniconda3\envs\deep\lib\site-packages (0.14.0)
Requirement already satisfied: numpy<3,>=1.25.2 in c:\users\playdata2\miniconda3\envs\deep\lib\site-packages (from imbalanced-learn) (2.2.6)
Requirement already satisfied: scipy<2,>=1.11.4 in c:\users\playdata2\miniconda3\envs\deep\lib\site-packages (from imbalanced-learn) (1.15.3)
Requirement already satisfied: scikit-learn<2,>=1.4.2 in c:\users\playdata2\miniconda3\envs\deep\lib\site-packages (from imbalanced-learn) (1.7.1)
Requirement already satisfied: joblib<2,>=1.2.0 in c:\users\playdata2\miniconda3\envs\deep\lib\site-packages (from imbalanced-learn) (1.5.2)
Requirement already satisfied: threadpoolctl<4,>=2.0.0 in c:\users\playdata2\miniconda3\envs\deep\lib\site-packages (from imbalanced-learn) (3.5.0)
Note: you may need to restart the kernel to use updated packages.

In [7]:
# ê²°ì¸¡ì¹˜ íƒ€ì…í™•ì¸
print(df.info())
print(df.isnull().sum())
#totalchargesê°€ objectê°€ ì•„ë‹Œë° objectë¡œ ë˜ì–´ìˆìŒ,

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB
None
customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [8]:
# ê° ì»¬ëŸ¼ì˜ ê²°ì¸¡ì¹˜ ê°œìˆ˜
df.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [24]:
# origin ì—´ì˜ ë¬¸ìì—´ ìë£Œí˜•ì„ ë²”ì£¼í˜•ìœ¼ë¡œ ë³€í™˜
df['TotalCharges'] = df['TotalCharges'].astype('str')     
print(df['TotalCharges'].dtypes) 
#ë‹¤ì‹œ í™•ì¸
df.info()

df["TotalCharges"] = pd.to_numeric(df["TotalCharges"], errors="coerce")

object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [10]:
#ê²°ì¸¡ì¹˜ ëŒ€ì²´
df["TotalCharges"] = df["TotalCharges"].fillna(df["MonthlyCharges"] * df["tenure"])

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   float64
 20  Churn             7043 non-null   object
dtypes: float64(2), int64(2), object(17)
memory usage: 1.1+ MB

In [12]:
from sklearn.preprocessing import StandardScaler
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split 
from sklearn.metrics import classification_report
from imblearn.over_sampling import SMOTE
import pandas as pd
import numpy as np

# ë°ì´í„° ë¡œë“œ
url = "https://raw.githubusercontent.com/pia222sk20/python/refs/heads/main/data/tellecom.csv"
df = pd.read_csv(url)

# y = Churn, X = ë‚˜ë¨¸ì§€
target = "Churn"

# ë¶ˆí•„ìš”í•œ ì»¬ëŸ¼ ì œê±°
drop_cols = ["customerID"]
num_cols = ["tenure", "MonthlyCharges", "TotalCharges"]
cat_cols = [
    "gender","SeniorCitizen","Partner","Dependents","PhoneService","MultipleLines",
    "InternetService","OnlineSecurity","OnlineBackup","DeviceProtection","TechSupport",
    "StreamingTV","StreamingMovies","Contract","PaperlessBilling","PaymentMethod"]

In [14]:
X = df.drop(columns=drop_cols + [target]).copy()
y = df[target].copy()

X["TotalCharges"] = pd.to_numeric(X["TotalCharges"].astype(str), errors="coerce")
X["TotalCharges"] = X["TotalCharges"].fillna(X["MonthlyCharges"] * X["tenure"])

X_num = X[num_cols].copy()
X_cat = X[cat_cols].copy()

X_cat = X_cat.astype("string").fillna("Unknown")
X_cat_ohe = pd.get_dummies(X_cat, drop_first=False, dtype=np.float64)

scaler = StandardScaler()
X_num_scaled = pd.DataFrame(
    scaler.fit_transform(X_num),
    columns=X_num.columns,
    index=X_num.index
)

#í•©ì‚°
X1 = pd.concat([X_num_scaled, X_cat_ohe], axis=1)

# 7) í•™ìŠµ/ê²€ì¦ ë¶„ë¦¬
X_train, X_test, y_train, y_test = train_test_split(
    X1, y, test_size=0.2, random_state=42, stratify=y
)

print("X_ready shape:", X1.shape)
print("Train/Test:", X_train.shape, X_test.shape)
print("y ë¶„í¬(Train):")
print(y_train.value_counts(normalize=True).round(3))

X_ready shape: (7043, 46)
Train/Test: (5634, 46) (1409, 46)
y ë¶„í¬(Train):
Churn
No     0.735
Yes    0.265
Name: proportion, dtype: float64

In [15]:
# í”¼ì²˜ ìƒì„± ë‹¨ê³„
X = X.copy()

# 1. ì›”í‰ê·  ìš”ê¸ˆ
X["AvgChargePerMonth"] = X["TotalCharges"] / X["tenure"].replace(0, np.nan)

# 2. ì—¬ëŸ¬ ì„œë¹„ìŠ¤ ì‚¬ìš© ê°œìˆ˜
service_cols = ["OnlineSecurity","OnlineBackup","DeviceProtection","TechSupport","StreamingTV","StreamingMovies"]
X["ServiceCount"] = (X[service_cols] == "Yes").sum(axis=1)

# 3. ì¸í„°ë„· ê°€ì… ì—¬ë¶€
X["HasInternet"] = (X["InternetService"] != "No").astype(int)

# í™•ì¸
print(X[["AvgChargePerMonth","ServiceCount","HasInternet"]].head())

   AvgChargePerMonth  ServiceCount  HasInternet
0          29.850000             1            1
1          55.573529             2            1
2          54.075000             2            1
3          40.905556             3            1
4          75.825000             0            1

In [16]:
# ìˆ˜ì¹˜í˜• ë³€ìˆ˜ë§Œ ë½‘ê¸°
num_cols = ["tenure","MonthlyCharges","TotalCharges","AvgChargePerMonth","ServiceCount"]

# ìƒê´€ê´€ê³„ í™•ì¸
corr = X[num_cols].corr()
print(corr)

                     tenure  MonthlyCharges  TotalCharges  AvgChargePerMonth  \
tenure             1.000000        0.247900      0.826178           0.246198
MonthlyCharges     0.247900        1.000000      0.651174           0.996237
TotalCharges       0.826178        0.651174      1.000000           0.650915
AvgChargePerMonth  0.246198        0.996237      0.650915           1.000000
ServiceCount       0.494263        0.724706      0.744827           0.722902

                   ServiceCount
tenure                 0.494263
MonthlyCharges         0.724706
TotalCharges           0.744827
AvgChargePerMonth      0.722902
ServiceCount           1.000000